.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.header {
    font-family: "Space Mono", "Arial", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 17px 5px;
    max-width: 1106px;

    .hamburger {
        display: none;
    }

    &__left {
        align-items: center;
        display: flex;
    }

    .list {
        display: flex;
        align-items: center;

        &-item {
            transition: all 0.3s ease;
            font-weight: bold;
            font-style: normal;
            line-height: 25px;
            font-size: 15px;
            margin: 0 16px;

            a {
                color: $main-dim-grey;

                &:hover {
                    color: $main-yellow;
                }
            }
        }
    }

    &__right {

        &-btn {
            padding: 13px 26px;
            border: 2px solid $main-yellow;
            border: none;
            background: $main-yellow;
            position: absolute;
            right: 0;
            transition: all 0.3s ease;

            a {
                font-weight: 700;
                font-size: 15px;
                color: $main-snow;
            }

            &:hover {
                border: 2px solid $main-yellow;
                background: transparent;

                a {
                    color: $main-yellow;
                }
            }
        }
    }
}

.nav {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .header {
        &__logo {
            margin-left: -22px;
            display: flex;
            justify-content: center;
        }
        .hamburger {
            display: block;
            background: transparent;
            border: none;
            background-image: url(./../img/menu.svg);
            cursor: pointer;
            margin-right: 25px;
            height: 16px;
            width: 20px;
        }

        &__logo {
            transform: translateX(100%);
        }

        .list,
        &__right-btn {
            display: none;
        }
    }

    .header-open {
        position: relative;

        .hamburger {
            width: 18px;
            height: 18px;
            background-image: url(./../img/menu-x.svg);
        }

        ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding-top: 33px;
            width: 88%;
            height: 90vh;
            left: -38px;
            top: 53px;
            background: #333a44;
            z-index: 1;

            li {
                display: flex;
                align-items: left;
                justify-content: left;
                text-align: left;
                margin-top: 15px;
                margin-left: -70%;

                .button1 {
                    margin-left: 35px;
                    width: 100px;
                    font-size: 18px;
                    color: #ffffff;
                }
            }
        }

        .header__right-btn {
            display: block;
            position: absolute;
            width: 55%;
            left: 25%;
            bottom: 44px;

        }
    }
}
