.line{
    margin: 0;
    transform: translate(-500px, 75px);
    border: 15px solid $main-white;
    background-color: $main-white;
    max-width: 974px;
}
.scooter {
    display: flex;
    justify-content: space-between;
}
.scooter__box {
    margin: 0;
    padding: 0;
    position: relative;

    &:not(:last-child) {
        padding-right: 30px;
    }
}
.scooter__box-title {
    font-family: "Space Mono" "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: $main-dark;
    margin: 0;
    padding-bottom: 27px;
}
.locate::before{
    content: "";
    width: 96px;
    height: 96px;
    background-image: url("./../../img/phone.svg");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    background-color: $main-yellow;
    border-radius: 50%;
    margin-bottom: 40px;
    background-size: 43px 48px;
}
.pick::before{
    content: "";
    width: 96px;
    height: 96px;
    background-image: url("./../../img/scooter.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-color: $main-yellow;
    margin-bottom: 40px;
    border-radius: 50%;
    background-size: 43px 32px;
}
.enjoy::before{
    content: "";
    width: 96px;
    height: 96px;
    background-image: url("./../../img/rider.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-color: $main-yellow;
    margin-bottom: 40px;
    border-radius: 50%;
    background-size: 40px 40px;

}
.scooter__box-text {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: $main-grey;
    font-family: "Lexend Deca", "Arial", sans-serif;
}

// Tablet
@media only screen and (max-width: 768px) {
    .line{
        margin: 0;
        margin-left: -50%;
        transform: rotate(90deg);
    }
    .scooter{
        flex-direction: column;
    }
    .scooter__box{
        display: flex;
        padding-bottom: 40px;
    }
    .locate::before, .pick::before, .enjoy::before{
        margin-bottom: 0;
        margin-left: 97px;
        margin-right: 79px;
        width:96px;
        flex-shrink: 0;
    }
}

// Mobile
@media only screen and (max-width: 649px) {
    .line{
        display: none;
    }
    .scooter__box-title{
        padding-bottom: 24px;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.89px;
        text-align: center;
    }
    .scooter__box-text{
        text-align: center;
    }
    .scooter__box{
        flex-direction: column;
    }
    .scooter__box:not(:last-child){
        padding-right: 0;
    }
    .locate{
        justify-content: center;
    }
}